@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.transfer-btn{
    @include button-styles;
}

.tx-info{
    width: 100%;
    font-size: smaller;
    text-align: center;
    .tx-info-link{
        margin-left: 0.3em;
    }
}