$primary-color: #FFFFFF ;
$secondary-color: #959695;

$desktop-body-size: 18px;
$desktop-body-weight: 400;
$desktop-heading-size: 56px;
$desktop-heading-weight: 700;
$desktop-subheading-size: 28px;
$desktop-subheading-weight: 500;

$mobile-body-size: 14px;
$mobile-body-weight: 400;
$mobile-heading-size: 42px;
$mobile-heading-weight: 700;
$mobile-subheading-size: 24px;
$mobile-subheading-weight: 500;

$primary-btn-color: #483BE3;
$secondary-btn-color: #3125C0;
$detail-color: #ABB8FF;

$border-radius: 20px;

